@page "/"


    <PageTitle>Home</PageTitle>

    <div class="container mt-5">
        <div class="jumbotron text-center bg-light p-5 rounded">
            <h1 class="display-4">Welcome to Omni-RMS!</h1>
            <p class="lead">Organize, create, and manage your recipes effortlessly.</p>
            <hr class="my-4" />
            <p>Explore features like recipe management, user roles, and more.</p>
            <a class="btn btn-primary btn-lg" href="recipe-list" role="button">View Recipes</a>
        </div>

        <div class="row mt-5">
            <div class="col-md-4">
                <div class="home-page card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Manage Recipes</h5>
                        <p class="card-text">Create, edit, compare, and delete recipes with ease. Keep your collection organized and accessible.</p>
                        <a href="recipe-list" class="btn btn-primary">Go to Recipes</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="home-page card shadow-sm">
                    <div class="home-page card-body">
                        <h5 class="card-title">User Management</h5>
                        <p class="card-text">Manage users in the Recipe Management System.</p>
                        <a href="user-management" class="btn btn-primary">Go to User Management</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="home-page card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Get Started</h5>
                        <p class="card-text">Learn how to use the Recipe Management System and explore its features.</p>
                        <a href="get-started" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

